@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
	font-family: 'Montserrat';
	background-color: #FFEFB5;
}

/* Estilos padrão para o dropdown */
.dropdown-content {
    display: none; /* Inicia oculto */
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 2.3vh;
    border-radius: 18px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #c05209;
    border-radius: 18px;
}

/* Mostrar o dropdown quando o link Receitas é hover */
.header:hover #dropdown {
    display: block;
}

/* Estilo para o link Receitas */
.header-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

/* Ajustes para o posicionamento do dropdown */
.header {
    position: relative;
    display: inline-block;
}

#head {
    width: 700px;
    color: rgb(0, 0, 0);
    font-size: 32px;
    padding: 10px ;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-left: 60px;
    text-align: center;
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}

/* Estilizando o checkbox */
.checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    appearance: none;
    background-color: rgb(241, 240, 240);
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    justify-content: center;
    display: flex;
  }
  
  /* Estilizando o checkbox quando marcado */
  .checkbox:checked {
    background-color: rgb(241, 240, 240);
    border-color: 2px solid #ccc;
  }
  
  /* Estilizando o símbolo de marcação */
  .checkbox:checked::after {
    content: '✔';
    color: rgb(0, 0, 0);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vh;
  }
  .icon-ativo::before {
    content: '✔'; 
    color: rgb(0, 0, 0);
    font-size: 28px;
}

.icon-inativo::before {
    content: '✖';
    color: rgb(0, 0, 0);
    font-size: 28px;
}

/*TABLES*/
.tabela{
    width: 85%;
    margin: 50px auto;
    background-color: #fff;
    padding: 70px;
    border: 0px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom:auto;
    margin-top: 20px;
}

.add-button {
    background-color: #ffbc2a;
    color: #fff;
    padding: 10px 27px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    position: absolute;
    right: 27vh;
    top: 27vh;
    margin: auto;
}

.add-button:hover {
    background-color: #876604;
}

td {
    border: 2px solid #ddd;
    padding: 1vw 3vh;
    text-align: center;
}

/* FIM TABLE*/
p{
	text-align: left;
	margin-left: 330px;
	font-size: 150%;
	
}

header {
    background-color: #FFF0BA;
    height: 12%;
    border-width: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.logo {
    width: 4vw;
    height: 12vh;
    cursor: pointer;
    display: flex;
    object-fit: cover;
    position: absolute;
    left: 10px;
}

.logout {
    width: 5vw;
    height: 4vh;
    cursor: pointer;
    display: flex;
    object-fit: cover;
    position: absolute;
    right: 10px;
}

.container {
    display: flex;
    height: 4vh;
    align-items: center;
}


.submit-button {
	background-color: #ffbc2a; 
	border: none;
	color: white; 
	padding: 9px 60px; 
	text-align: center; 
	text-decoration: none; 
	display: inline-block; 
	font-size: 16px; 
	margin: 4px 2px; 
	margin-left: 220px;
	cursor: pointer; 
	border-radius: 18px; 
	transition: background-color 0.3s; 
}

.submit-button:hover {
	background-color: #876604; 
}

.input-field {
	width: 100%;
	padding: 10px 20px;
	margin: 8px -32px;
	box-sizing: border-box;
	background-color:  rgb(241, 240, 240);
	border: 2px solid #ccc;
	border-radius: 22px;
	transition: 0.3s;
}

.input-field:focus {
	border-color: #ffbc2a; 
	outline: none; 
}

.form-group {
	margin-bottom: 8px;
	width: 270px;
    margin-left: auto;	
    margin-right: auto;
	margin-top: 15px;

	
}

.form-label {
	font-size: 16px;
	margin-bottom: -9px;
	display: block;
}

.back-button {
	background-color: #ffbc2a; 
	border: none;
	color: white; 
	padding: 9px 60px; 
	text-align: center; 
	text-decoration: none; 
	display: inline-block; 
	font-size: 16px; 
	margin: 4px 2px; 
	margin-left: 220px;
	cursor: pointer; 
	border-radius: 18px; 
	transition: background-color 0.3s; 
}

.back-button:hover {
	background-color: #876604; 
}

.button-container {
    display: inside;
}

.back-button{
    margin-left: 10px;
    
}
.submit-button {
    margin-left: 50px; 
}

/* HOME BUTTON*/
.home-button{
    
    font-size: 2.6vh;
    position: relative;
    text-decoration: none;
   color: black;
   margin-right: 9vw;
   border-radius: 18px;
   padding: 0.7vh;
}  

.home-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s;
   
  }

.home-button:hover {
    background-color: #c05209;
    
}

/* Estilizando os botões */
.edit-button,
.delete-button {
    padding: 8px 16px;
    background-color: #ffbc2a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #876604;
}
@media (max-width: 1366px){
    .add-button{
                right: 13vh;
                top: 33vh;
            }  
        .checkbox:checked::after{

            height: 2.6vh;
        }
        .tabela{
            padding: 70px 2px;
            width: 90%;
        }
        .edit-button,
        .delete-button{
             padding: 8px 19px;
            
        }
} 